/*
* Copyright © 2020. TIBCO Software Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

body{
    margin: 0;
    overflow: hidden;
}

#mod-container {
    white-space: pre;
}

#mod-kanban {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;	
}

div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 1px;
	padding: 2px 5px;
}

td, th {	  
	text-align: center;
	border: 1px solid white;
	vertical-align: top;
}
