body{
    margin: 0;
    overflow: auto;
}

#mod-kanban {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;	
	user-select: none;
	margin-top: 6px;
}

td, th {	  
	text-align: center;
	margin: 1px; 
	vertical-align: top;
}

th {
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2px;
	cursor: pointer;
}

.card {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 1px;
	padding: 2px 5px 5px 5px;
}

.icon {
	float: right;
	margin-left: 3px;
	height: 16px;
	width: 16px;
}