body{
    margin: 0;
    overflow: hidden;
}

#mod-container {
    white-space: pre;
}

#mod-kanban {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;	
	user-select: none;
}

#mod-configure-content{
	font-family: "Roboto",sans-serif;
    font-size: 12px;
    padding: 0px 20px;
}

#mod-configure-content textarea{
	resize: none;
	border: 1px solid #c0c0c0;
    border-radius: 3px;
    padding: 5px;
    font-size: 11px;
    font-family: Arial;
}

td, th {	  
	text-align: center;
	border: 1px solid white;
	vertical-align: top;
}

th {
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2px;
	cursor: pointer;
}

.card {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 1px solid white;
	margin: 1px;
	padding: 2px 5px;
}

.card:hover {
	border: 1px solid white;
	outline: 1px solid black;
}